* {
  box-sizing: border-box;
}

:root {
  --color-1: #242526;
  --color-2: #ffffff;
  --color-3: #0084ff;
  --color-4: #808080;
  --color-5: #eb4034;
  --color-6: #c0dfff;
}
.container {
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-y: hidden;
}
.container .image img {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgba(9, 11, 14, 0) 0%, #0b1424 150%),
    url("./Images/bruce-mars-FWVMhUa_wbY-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.section {
  max-width: 500px;
  min-height: 550px;
  margin-right: 10px;

  padding: 0px 40px;
}
.section h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-1);
  padding: 25px 0px 0px 0px;
}
.section .form {
  margin-top: 20px;
}
.section .form .input_container {
  margin-top: 30px;
}
.section .form input.input-error,
select.input_error {
  border-color: #fc8181;
}
.error {
  margin: 3px 0px;
  /* padding: 5px 0px; */
  text-align: start;
  color: var(--color-5);
}
.error_msg {
  margin: 3px 0px;
  color: var(--color-5);
  text-align: center;
  padding: 10px;
}
.success_msg {
  margin: 3px 0px;
  color: rgb(29, 176, 49);
  text-align: center;
  padding: 10px;
}
.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;

  border: 1px solid var(--color-6);
  border-radius: 5px;
}
.btn_container {
  margin: 20px 10px;
  text-align: start;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-4);
  background: var(--color-5);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.btn:hover {
  transform: scale(1.1);
}
div p {
  /* margin-top: 30px; */
  color: var(--color-1);
}
div p a {
  color: var(--color-3);
  text-decoration: none;
}
.section-prof-pass {
  max-width: 350px;
  /* min-height: 545px; */
  margin: 0px auto;
  box-shadow: 1px 2px 10px var(--color-4);
  margin-top: 200px;
  padding: 40px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.section-prof-pass input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-4);
  border-radius: 5px;
  margin-top: 20px;
}
.section-prof-pass .send-email-btn {
  margin: 40px 10px 10px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background: var(--color-3);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.login-link {
  display: flex;
  margin: 0% 0%;
  justify-content: center;
  color: #34eb52;
}
/* Profile */
.section-prof {
  max-width: 550px;
  min-height: 545px;
  margin: 0px auto;
  box-shadow: 1px 2px 10px var(--color-4);
  margin-top: 10px;
  padding: 40px 40px;
  border-radius: 10px;
}
.profile_container {
  display: flex;
  align-items: center;
}
.img_container {
  position: relative;
  margin-right: 20px;
}
.img_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
  transition: 0.5s ease-in-out all;
}
.img_container input {
  position: absolute;
  top: 0%;
  left: 0%;
  border: 2px solid #0084ff;
  border-radius: 50%;
  opacity: 0;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.img_container:hover img {
  opacity: 0.4;
}
.img_container:hover .overlay {
  opacity: 1;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: #3f535d;
}
nav h1 svg {
  color: #fff;
  margin-right: 5px 5px;
  font-size: 40px;
}
nav a {
  color: var(--color-2);
  text-decoration: none;
}
nav div a {
  color: white;
  font-weight: 600;
  margin-right: 30px;
  font-size: 20px;
}
nav div a:hover {
  opacity: 0.8;
}
.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_container {
  flex-grow: 1;
}
.text_container h3 {
  text-align: left;
}
.section-prof .profile-password {
  margin-top: 40px;
}
.section-prof .profile-password input {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0px;
}
.section-prof .delete-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-1);
  background: var(--color-5);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.profile_upload_btn {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #2ea32c;
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 13px;
}
.section-prof .update-btn {
  margin: 50px 10px 10px 20px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-1);
  background: #2ea32c;
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.section-prof .delete-btn:hover {
  transform: scale(1.16);
}
.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: auto;
  height: calc(100vh - 70px);
  width: 100vw;
  color: white;
  background: #16161d;
}
.users_container {
  /* border-right: 2px solid var(--color-6); */
  overflow-y: auto;
  background: #708090;
  /* margin: 10px 5px 0px 5px; */
}
.user_wrapper {
  padding: 10px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #dcdcdc;
  height: 80px;
  color: black;
  margin: 10px 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.user_detail {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.user_detail h4 {
  margin-left: 20px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.user_status {
  position: relative;
  left: 40px;
  bottom: 17px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.user_info_offline {
  color: #0084ff;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
.online-prof {
  background: #34eb52;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.offline-prof {
  background: var(--color-5);
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.input-message {
  margin-top: 0px !important ;
  padding: 0px !important;
  margin-right: 30px;
}
.active_heading {
  position: relative;
  margin-top: 5px;
  padding-bottom: 5px;
  /* border-bottom: 2px solid var(--color-6); */
  padding-left: 30px;
  text-decoration: none;
}
.active_heading .select_active {
  position: absolute;
  color: var(--color-1);
  top: 0%;
  right: 0%;
  width: 32%;
  opacity: 1;
  margin-right: 10px;
}
.messages_container {
  position: relative;
  border-right: 2px solid var(--color-6);
  margin-top: 0%;
  background: #dcdcdc;
}
.messages_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #708090;
  border-radius: 15px;
  margin: 10px 20px;
  padding: 0px 30px;

  /* margin-top: 10px; */
}
.messages_user .userName {
  text-transform: capitalize;
  font-size: 23px;
}
.messages_user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* background-color: #0b1424; */
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
}
.input-file label svg {
  color: var(--color-3);
  width: 45px;
  height: 37px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 8%;
}
.message_form {
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message_form .input-file input {
  position: absolute;
  left: 4%;
  top: 5%;
  color: #0084ff;
  width: 4%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelImg {
  position: absolute;
  bottom: 19%;
  left: 6%;
  color: #0084ff;
  width: 20px;
  height: 20px;
}
.message_form .input-message {
  width: 70%;
  position: relative;
  top: 10%;
}
.message_form .btn {
  background: var(--color-3);
  color: #ffffff;
  margin-right: 10px;
  margin-top: 5px;
}
.messages {
  height: calc(100vh - 217px);
  overflow-y: auto;
  background: #f2f2f2;
}
.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
  width: 50%;
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
}
/* .message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
  margin-left: 15px;
} */
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper .own {
  text-align: right;
  margin-right: 15px;
  margin-top: 0px;
  max-width: 50%;
  /* border: 2px solid red; */
}
.me {
  color: white;
  border-radius: 20px;
  padding: 1px 6px;
  background: #4168e2;
  word-break: break-all;
  white-space: pre-wrap;
  margin-left: auto;
}
.friend {
  background: #6cadd6;
  color: white;
  border-radius: 20px;
  padding: 1px 6px;
  word-break: break-all;
  white-space: pre-wrap;
}
.friendMsg {
  background-color: #1d1b26;
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 2px 10px;
}
.myMsg {
  background: var(--color-2);
  color: black;
  margin-top: 5px;
  border-radius: 20px;
  padding: 2px 10px;
  float: right;
  width: 100%;
}
.sender {
  display: flex;
  /* text-align: right; */
  /* justify-content: end; */
  margin-top: 10px;
  max-width: 50%;
  /* border: 2px solid red; */
}
.sender .details span {
  margin: 0px;
  padding: 0%;
  display: flex;
  align-items: flex-start;
  justify-content: first baseline;
}
.sender .details .name {
  margin-right: 0%;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  margin-left: 10px;
  color: black;
}
.sender .details .time {
  font-size: 11px;
  font-weight: lighter;
  text-transform: capitalize;
  margin-left: 5px;
  color: black;
}
.sender .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.reciever {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  margin-top: 10px;
  max-width: 50%;
}
.reciever .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.reciever .details {
  margin-left: 0%;
  padding-left: 0%;
  width: 140px;
  margin-bottom: 0%;
}
.reciever .details p {
  margin: 0px;
  padding: 0%;
  width: 200px;
}
.reciever .details .name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  color: white;
}
.reciever .details .time {
  font-size: 11px;
  font-weight: lighter;
  margin-left: 5px;
  color: white;
}
.text {
  max-width: 500px;
  min-height: 10px;
}
.selected_user {
  color: #4b0082;
  font-weight: 600;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate strong {
  margin-right: 10px;
}
.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen {
  display: none;
}
@media screen and (max-width: 767px) {
  .home_container {
    grid-template-columns: 2fr 3fr;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
  }
  .message_wrapper p {
    max-width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr;
  }
  .container .image {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }
}
